@charset "UTF-8";

body{
    background: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 450px;
    margin: auto;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.253);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}