@charset "UTF-8";

body{
    background: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

header{
    color: white;
    text-align: center;
}

section{
    background: rgb(230, 228, 228);
    border-radius: 10px;
    padding: 15px;
    width: 450px;
    margin: auto;
    box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.253);
    
}
.btn {
    border: none;
    border-radius: 3px;
    background-color: rgb(129, 128, 128);
    color: white;
    padding: 3px;
    font-weight: bold;
    cursor: pointer;

}


.textfield{
    text-align: center;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    font-weight: normal;
    margin-top: 10px;
}